<h1 class="font title">
        <u> Mellotron - Archive Matbay </u>
</h1> <br>
<mat-form-field class="font" appearance="standard">
        <mat-label>Recherche</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 'Specialist'" #input>
</mat-form-field>
<mat-form-field class="font" appearance="standard">
        <mat-label>Champs</mat-label>
        <mat-select [formControl]="selectedColumns" multiple (selectionChange)="updateSelection()">
                <mat-option class="font" *ngFor="let column of selectedColumnsList" [value]="column">
                        {{toColumnName(column)}}
                </mat-option>
        </mat-select>
</mat-form-field>
<span class="warning-text font" *ngIf="!canDrag()">
        L'ordre des colonnes ne peut pas être modifié dans cette configuration
</span>
<button mat-button class="help-button" (click)="openHelpWindow()">
        <mat-icon>settings</mat-icon> Aide & Options
</button> <br>
<div class="mat-elevation-z8">
        <table mat-table class="font" [dataSource]="dataSource" matSort multiTemplateDataRows cdkDropList
                cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($any($event))">

                <ng-container matColumnDef="isWinner">
                        <th mat-header-cell cdkDrag [cdkDragDisabled]="!canDrag()" *matHeaderCellDef mat-sort-header>
                                <mat-icon>star</mat-icon>
                        </th>
                        <td mat-cell class="winner" *matCellDef="let row">
                                <mat-icon *ngIf="row.isWinner" class="winner">star</mat-icon>
                        </td>
                </ng-container>

                <ng-container matColumnDef="id">
                        <th mat-header-cell cdkDrag [cdkDragDisabled]="!canDrag()" *matHeaderCellDef mat-sort-header> ID
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                        <th mat-header-cell cdkDrag [cdkDragDisabled]="!canDrag()" *matHeaderCellDef mat-sort-header>
                                Titre </th>
                        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                </ng-container>

                <ng-container matColumnDef="author">
                        <th mat-header-cell cdkDrag [cdkDragDisabled]="!canDrag()" *matHeaderCellDef mat-sort-header>
                                Auteur </th>
                        <td mat-cell *matCellDef="let row"> {{row.author}} </td>
                </ng-container>

                <ng-container matColumnDef="platform">
                        <th mat-header-cell [ngClass]="!canDrag() ? '': 'clickable'" cdkDrag
                                [cdkDragDisabled]="!canDrag()" *matHeaderCellDef> Plateforme </th>
                        <td mat-cell *matCellDef="let row"> {{platformToString(row.platform)}} </td>
                </ng-container>

                <ng-container matColumnDef="cstName">
                        <th mat-header-cell cdkDrag [cdkDragDisabled]="!canDrag()" *matHeaderCellDef mat-sort-header>
                                Constitution </th>
                        <td mat-cell *matCellDef="let row"> {{row.cstName}} </td>
                </ng-container>

                <ng-container matColumnDef="url">
                        <th mat-header-cell [ngClass]="!canDrag() ? '': 'clickable'" cdkDrag
                                [cdkDragDisabled]="!canDrag()" *matHeaderCellDef>
                                URL </th>
                        <td mat-cell *matCellDef="let row">
                                <a href="{{row.url}}" target="_blank">
                                        <mat-icon class="url-icon">play_circle_outline</mat-icon>
                                </a>
                        </td>
                </ng-container>

                <ng-container matColumnDef="user">
                        <th mat-header-cell cdkDrag [cdkDragDisabled]="!canDrag()" *matHeaderCellDef mat-sort-header>
                                Utilisateur </th>
                        <td mat-cell *matCellDef="let row"> {{row.user}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                        <th mat-header-cell cdkDrag [cdkDragDisabled]="!canDrag()" *matHeaderCellDef mat-sort-header>
                                Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                <div class="expanded-element-detail"
                                        [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                                        <div class="expanded-element-description">
                                                {{element.title}}
                                        </div>
                                </div>
                        </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [class.expanded-expanded-row]="expandedElement === row"
                        (click)="expandedElement = expandedElement === row ? null : row"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-detail-row"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9"> Aucun résultat pour la recherche "{{input.value}}"</td>
                </tr>
        </table>

        <mat-paginator class="font" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 50, 100]"
                aria-label="Select page of users" (page)="updatePageSize($event)"></mat-paginator>
</div>
<div class="end-text font">
        App by TableauBits
</div>