$old-mauve: #673ab7;
$lazuli: rgba(38, 38, 38, 1);

.winner {
    color: $old-mauve;
}

table {
    width: 95%;
    margin: auto;
}

tr {
    background-color: black;
}

th {
    color: whitesmoke;
    font-weight: bold;
    border-bottom: 1cm;
    border-color: $old-mauve;
}

td {
    color: whitesmoke;
}

.monaco {
    font-family: "Monaco";
}

mat-form-field {
    margin-left: 5%;
    margin-top: 0.5%;
}

input {
    color: whitesmoke;
}

::ng-deep {
    .mat-select-value {
        color: whitesmoke;
    }

    .mat-select-arrow {
        color: whitesmoke;
    }

    .mat-primary .mat-option {
        background-color: black;
    }

    .mat-primary .mat-option:hover {
        background-color: $lazuli;
    }

    .mat-pseudo-checkbox {
        color: whitesmoke;
    }

    .mat-form-field-appearance-standard .mat-form-field-underline {
        background-color: whitesmoke;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: whitesmoke;
    }

    .mat-option {
        color: whitesmoke;
        background-color: black;
    }

    .mat-option-text {
        color: whitesmoke;
    }

    .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
        background-color: black;
    }

}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: whitesmoke;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: whitesmoke;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    color: whitesmoke;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: whitesmoke;
}

mat-label {
    color: whitesmoke;
}

mat-option {
    color: whitesmoke;
    background-color: black;
}

.mat-paginator {
    width: 95%;
    margin: auto;
    background-color: black;
    color: whitesmoke;
}

.warning-text {
    margin-left: 1%;
    font-size: smaller;
    color: whitesmoke;
}

.end-text {
    margin-left: 2.5%;
    margin-top: 2%;
    padding-bottom: 2%;
    font-size: smaller;
    color: whitesmoke;
}