/* You can add global styles to this file, and also import other style files */
$old-mauve: #673ab7;

html,
body {
  margin: 0;
  height: 100%;
  background-image: url('assets/background.png');
}

.clickable {
  cursor: pointer;
}

.mat-dialog-container {
  background-color: black;
  color: whitesmoke;
  border: 2px solid $old-mauve;
  font-family: Verdana, sans-serif;
}